# Node / React
/node_modules
/.pnp
.pnp.js
/build

# Python / FastAPI backend
/__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env.*
*.sqlite3

# Testing
/coverage

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS files
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/
*.swp
